.content {
    height: 80px;
    background: #0045B2;
    display: flex;
    justify-content: space-between;


    .logo {
        padding-top: 20px;
        padding-left: 30px;
        // position: absolute;
    }
    
    .kabarImage {
        position: absolute;
        // margin-right: 0 auto;
    }
    
    .mediaImage {
        position: relative;
        margin-left: 160px;
    }

    .contact {
        padding-top: 20px;
        padding-right: 30px;
        // color: white;
    }
}
