

.card_actions {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  
  .cv {
      display: flex;
      justify-content: center;
  }
  #view {
      margin-top: 4px;
  }

  .eyes {
      margin-right: 10px;
      margin-bottom: 0 auto;
  }

  .share {
      // background-color: #C60100;
      width: 25px;
      height: 25px;
  }

}